.header{
    background-image: url(./1.jpg);
	background-size: cover;
}
.navbar-left{
    margin-left: 4% !important;
}
.navbar-header{
    margin-right: 30% !important;

}
.text-homeimage {
	text-align:center;
	color:#fff;
	z-index:2;
	position:relative;
	font-size:75px;
	line-height:90px;
	text-transform:uppercase;
	padding-top:190px;
	padding-bottom:190px;
	font-weight:700;
	font-family:Dosis;
}

.subtext-image {
	text-transform:none;
	font-weight:100 !Important;
}
.navbar{
	padding-top: 5px;
    padding-bottom: 5px;
}
.content{
	width: 100%;
	min-height: 1500px;
	transform: translateY(-65px);
}
.container{
	width: 50%;
	background-color: #fff;
	min-height: 350px;
	margin-left: 30%;
	display: flex;
	flex-wrap: wrap;
}
.first-item{
	margin-left: 10px;
}
.second-item,.third-item{
	
	margin-left: 3.3%;
}
.item{
	width: 30%;
}
.numbertext{
	color: black;
	text-align: center;
}
.item p{
	margin-left: 10%;
	margin-top: 15%;
	font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    color: #777;
    line-height: 1.7;
}
.logo{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgb(15, 199, 137);
	margin-left: 40%;
	margin-top: 10%;
}
.container1{
	width:80%;
	background-color: #fff;
	min-height: 800px;
	margin-left: 10%;
	display: flex;
	flex-wrap: wrap;
	
}
.our-item{
	width: 30%;
	border: 1px solid rgb(204, 204, 204);
	margin-left: 3.3%;
	margin-top: 30px;
	
}
.location-name{
	text-align: center;
	font-family:Dosis;
	margin-top: 13px;
}
.our-item p{
	margin-left: 10%;
	font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    color: #777;
    line-height: 1.4;
	margin-top: 13px;
}
.our-item .hr{
	width: 80%;
	height:.7px;
	margin-left: 10%;
	background-color: #777;
	margin-top: 13px;
}
.price{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.latestitem{
	text-align: center;
	background-color: #fff;
	width: max-content;
	margin-left:24.5% ;
	font-size:  32px;
	transform: translateY(-25px);

	
}
.hr1{
	width: 450px;
	height:.7px;
	background-color: #000;
	
}
.space{
	margin-left: 36%;
	margin-top: 50px;
	margin-bottom: -20px;
	max-width: 450px;
}
.fa-address-card{
	font-size: 25px !important;
	position: relative;
	top: 25%;
	left: 25%;
    color: #fff;
}
.fa-download,.fa-shopping-cart{
	font-size: 25px !important;
	position: relative;
	top: 25%;
	left: 29%;
    color: #fff;
}
.see-more{
	text-decoration: none;
    font-size: 17px;
    color: rgb(15, 199, 137);
    font-family: 'FontAwesome';
}
.more-photo{
	width: max-content;
	transform: translateY(-20px);
	margin-left: 69%;
}
.three-star .fa-star{
	color: #ffeb00;
}
.three-star{
	
	text-align: center;
	background-color: #fff;
	width: max-content;
	margin-left: 36% ;
	font-size:  32px;
	transform: translateY(-25px);
}
.opt-more-item{
	display: flex;
	padding:0 30px 10px 20px;
	background-color: rgb(15, 199, 137);
	margin-top: 30px;
	margin-left: 40%;
}
.opt-more-item h3{
	color: rgb(253, 252, 252);
	font-family: Roboto;
	
}
.solution .fa-star{
	font-size: 22px;
	color: rgb(253, 252, 252);
	animation: infinite 2s linear rotate;

}
.solution{
	width: fit-content;
	height: fit-content;
	transform: translate(17px,23px);

}

.footer h1{
	margin-left:46% ;
	font-family: Roboto;
	margin-top: 20px;
}
.personal-photo{
	background-image: url(./winter.png);
	background-size: cover;
	width: 100px;
	height: 100px;
	margin-left:47% ;
	margin-top: 30px;
	border-radius: 50%;
}
.it-idea{
	font-size: 20px;
    width: 40%;
    margin-left: 32%;
    margin-top: 25px;
    color: #777;
    font-family: revert;
    line-height: 1.7;
}
.five-star .fa-star{
	color: #777;
	font-size: 20px;
}
.five-star{
	margin-top: 20px;
	margin-left: 47%;
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(359deg);
	}
}
.footer-sort{
	background-color:  #222222;
	height: 400px;
}
.social-contact{
	margin-left: 40%;
	margin-top: 30px;
}
.social-contact ul{
	display: flex;
	
}
.social-contact ul li{
	list-style: none;
	font-size: 22px;
	color: #fff;
	margin-left: 30px;
	border: 1px solid #eee;
	padding: 20px;
	border-radius: 30%;
	width: 50px;
	height: 50px;
}
.social-contact ul :nth-child(1) i{
    transform: translate(-7px, -10px);	
}

.social-contact ul :nth-child(3) i{
    transform: translate(-5px, -10px);	
}

.social-contact ul :nth-child(2) i{
    transform: translate(-4px, -10px);	
}
.footer-sort h2{
	font-family: 'Dosis';
    padding-top: 70px;
    margin-left: 43%;  
	color: #fff;
}
.footer-sort h4{  
	margin-left: 46%;
    margin-top: 20px;
    font-family: 'FontAwesome';
	color: rgb(15, 199, 137);
}

.footer-sort h5{  
	margin-left: 47%;
    margin-top: 15px;
    font-family: 'FontAwesome';
	color: #fff;
}
@media (max-width:1300px) and (min-width:1201px){
	.opt-more-item{
		margin-left: 38%;
	}
	.space{
	margin-left: 33%;
	}
	.footer h1{
		margin-left:44% ;
	}
	.personal-photo{
		margin-left:46% ;
	}
	.it-idea{
		margin-left: 32%;
    }
	.five-star{
		margin-left: 45%;
	}
	
.footer-sort h2{
    margin-left: 40%;  
}
.footer-sort h4{  
	margin-left: 43%;
}

.footer-sort h5{  
	margin-left: 44%;
}

.social-contact{
	margin-left: 36%;
}
.container1{
	width:90%;
	margin-left:4%;}
}

@media (max-width:1200px) and (min-width:1076px){
.footer-sort h2{
    margin-left: 38%;  
}
.footer-sort h4{  
	margin-left: 41%;
}

.footer-sort h5{  
	margin-left: 42%;
}

.social-contact{
	margin-left: 34%;
} 
.container1{
	width:100%;
	margin-left:0%;
}
.our-item{
	width: 30%;
	margin-left: 3%;	
}
.opt-more-item{
	margin-left: 37.5%;
}
.space{
	margin-left: 31%;
	}

	.footer h1{
		margin-left:43% ;
	}
	.personal-photo{
		margin-left:45% ;
	}
	.it-idea{
		margin-left: 30%;
		width: 40%;
	font-size: 18px;
	}
	.five-star{
		margin-left: 45%;
	}
}
@media (max-width:1075px) and (min-width:994px){
	.footer-sort h2{
		margin-left: 38%;  
	}
	.footer-sort h4{  
		margin-left: 41%;
	}
	
	.footer-sort h5{  
		margin-left: 42%;
	}
	
	.social-contact{
		margin-left: 34%;
	} 
	/*  */
	.container1{
		width: 90%;
		margin-left:10%;
	}
	.our-item{
		width: 40%;
		margin-left: 4%;	
	}
	.opt-more-item{
		margin-left: 27%;
	}
	.space{
		margin-left: 27%;
		}
	/* ------- */
		.footer h1{
			margin-left:40% ;
		}
		.personal-photo{
			margin-left:43% ;
		}
		.it-idea{
			margin-left: 23%;
			width: 56%;
		font-size: 18px;
		}
		.five-star{
			margin-left: 43%;
		}
		.text-homeimage{
			font-size: 65px;
		}
	}
	
@media (max-width:993px) and (min-width:870px){
	.container{
		display: block;
	}
	.item{
	width:max-content;
	margin-left: 18%;
	border-bottom: 1px solid #222222;
	padding-bottom: 40px;
	}
	.logo{
		margin-left: 44%;
	}
	.item p{
    margin-left: 2%;
    width: 480px;
    font-size: 18px;
	margin-top: 8%;
	}
	.footer-sort h2{
		margin-left: 38%;  
	}
	.footer-sort h4{  
		margin-left: 41%;
	}
	
	.footer-sort h5{  
		margin-left: 42%;
	}
	
	.social-contact{
		margin-left: 34%;
	} 
	/*  */
	.container1{
		width: 90%;
		margin-left:10%;
	}
	.our-item{
		width: 37%;
		margin-left: 4%;	
	}
	.opt-more-item{
		margin-left: 25%;
	}
	.space{
		margin-left: 26%;
		}
	/* ------- */
		.footer h1{
			margin-left:40% ;
		}
		.personal-photo{
			margin-left:43% ;
		}
		.it-idea{
			margin-left: 21%;
			width: 40%;
			margin-right: 20%;
		font-size: 18px;
		}
		.five-star{
			margin-left: 44%;
		}
		.text-homeimage{
			font-size: 65px;
		}
	}
	@media (max-width:869px) and (min-width:768px){
		 .container{
			display: block;
		}
		.item{
		width:max-content;
		margin-left: 18%;
		border-bottom: 1px solid #222222;
		padding-bottom: 40px;
		}
		.logo{
			margin-left: 44%;
		}
		.item p{
		margin-left: 2%;
		width: 480px;
		font-size: 18px;
		margin-top: 8%;
		} 
		/*  */
		.footer-sort h2{
			margin-left: 34%;  
		}
		.footer-sort h4{  
			margin-left: 38%;
		}
		
		.footer-sort h5{  
			margin-left: 39%;
		}
		
		.social-contact{
			margin-left: 28%;
		} 
		/*  */
		.container1{
			width: 97%;
			margin-left: 3%;
		}
		.our-item{
			width: 42%;
			margin-left: 4%;	
		}
		.opt-more-item{
			margin-left: 29%;
		}
		.space{
			margin-left: 24%;
			}
		/* ------- */
			.footer h1{
				margin-left:39% ;
			}
			.personal-photo{
				margin-left:42% ;
			}
			.it-idea{
				margin-left: 17%;
				width: 74%;
				font-size: 18px;
			}
			.five-star{
				margin-left: 42%;
			}
			/* ------------ */
			.text-homeimage{
				font-size: 65px;
			} 
		}
		@media (max-width:767px) and (min-width:650px){
			.container{
			   display: block;
			   width: 100%;
		   }
		   .item{
		   width:max-content;
		   margin-left: 16%;
		   border-bottom: 1px solid #222222;
		   padding-bottom: 40px;
		   }
		   .logo{
			   margin-left: 44%;
		   }
		   .item p{
		   margin-left: 2%;
		   width: 480px;
		   font-size: 18px;
		   margin-top: 8%;
		   } 
		   /*  */
		   .footer-sort h2{
			   margin-left: 32%;  
		   }
		   .footer-sort h4{  
			   margin-left: 36%;
		   }
		   
		   .footer-sort h5{  
			   margin-left: 37%;
		   }
		   
		   .social-contact{
			   margin-left: 24%;
		   } 
		   /*  */
		   .container1{
			   width:100%;
			   margin-left: 0%;
		   }
		   .our-item{
			   width: 47%;
			   margin-left: 3%;	
		   }
		   .opt-more-item{
			   margin-left: 28%;
		   }
		   .space{
			   margin-left: 19%;
			   }
		   /* ------- */
			   .footer h1{
				   margin-left:38% ;
			   }
			   .personal-photo{
				   margin-left:41% ;
			   }
			   .it-idea{
				   margin-left: 16%;
				   width: 74%;
				   font-size: 18px;
			   }
			   .five-star{
				   margin-left: 40%;
			   }
			   /* ------------ */
			   .text-homeimage{
				   font-size: 60px;
			   }
			   .latestitem {
				margin-left: 29%;
				font-size: 26px;
				transform: translateY(-20px);
			} 
		   }
		   @media (max-width:649px) and (min-width:572px){
			.container{
			   display: block;
			   width: 100%;
		   }
		   .item{
		   width:max-content;
		   margin-left: 8%;
		   border-bottom: 1px solid #222222;
		   padding-bottom: 40px;
		   }
		   .logo{
			   margin-left: 44%;
		   }
		   .item p{
		   margin-left: 2%;
		   width: 480px;
		   font-size: 18px;
		   margin-top: 8%;
		   } 
		   /*  */
		   .footer-sort h2{
			   margin-left: 30%;  
		   }
		   .footer-sort h4{  
			   margin-left: 34%;
		   }
		   
		   .footer-sort h5{  
			   margin-left: 35%;
		   }
		   
		   .social-contact{
			   margin-left: 20%;
		   } 
		   /*  */
		   .container1{
			   width:100%;
			   margin-left: 0%;
		   }
		   .our-item{
			   width: 48%;
			   margin-left: 2%;	
		   }
		   .opt-more-item{
			   margin-left: 26%;
		   }
		   .space{
			   margin-left: 11%;
			   }
		   /* ------- */
			   .footer h1{
				   margin-left:37% ;
			   }
			   .personal-photo{
				   margin-left:41% ;
			   }
			   .it-idea{
				   margin-left: 16%;
				   width: 74%;
				   font-size: 18px;
			   }
			   .five-star{
				   margin-left: 39%;
			   }
			   /* ------------ */
			   .text-homeimage{
				   font-size: 55px;
			   }
			   .latestitem {
				margin-left: 29%;
				font-size: 26px;
				transform: translateY(-20px);
			} 
		   }
		   @media (max-width:571px) and (min-width:521px){
			.container{
			   display: block;
			   width: 100%;
		   }
		   .item{
		   width:max-content;
		   margin-left: 0%;
		   border-bottom: 1px solid #222222;
		   padding-bottom: 40px;
		   }
		   .logo{
			   margin-left: 44%;
		   }
		   .item p{
		   margin-left: 2%;
		   width: 480px;
		   font-size: 18px;
		   margin-top: 8%;
		   } 
		   /*  */
		   .footer-sort h2{
			   margin-left: 26%;  
		   }
		   .footer-sort h4{  
			   margin-left: 32%;
		   }
		   
		   .footer-sort h5{  
			   margin-left: 33%;
		   }
		   
		   .social-contact{
			   margin-left: 16%;
		   } 
		   /*  */
		   .container1{
			   width:80%;
			   margin-left: 15%;
		   }
		   .our-item{
			   width: 86%;
			   margin-left: 0%;	
		   }
		   .opt-more-item{
			   margin-left: 5%;
		   }
		   .space{
			   margin-left: 7%;
			   }
			   .hr1 {
				width: 350px;
				margin-left: 9%;
			   }
		   /* ------- */
			   .footer h1{
				   margin-left:30% ;
			   }
			   .personal-photo{
				   margin-left:37% ;
			   }
			   .it-idea{
				   margin-left: 12%;
				   width: 80%;
				   font-size: 16px;
			   }
			   .five-star{
				   margin-left: 35%;
			   }
			   /* ------------ */
			   .text-homeimage{
				   font-size: 45px;
			   }
			   .latestitem {
				margin-left: 29%;
				font-size: 26px;
				transform: translateY(-20px);
			} 
		   }
		   
		   @media (max-width:520px) and (min-width:441px){
			.container{
			   display: block;
			   width: 100%;
		   }
		   .item{
		   width:max-content;
		   margin-left: 0%;
		   border-bottom: 1px solid #222222;
		   padding-bottom: 40px;
		   }
		   .logo{
			   margin-left: 44%;
		   }
		   .item p{
		   margin-left: 2%;
		   width: 400px;

		   font-size: 16px;
		   margin-top: 8%;
		   } 
		   /*  */
		   .footer-sort h2{
			   margin-left: 24%;  
		   }
		   .footer-sort h4{  
			   margin-left: 30%;
		   }
		   
		   .footer-sort h5{  
			   margin-left: 31%;
		   }
		   
		   .social-contact{
			   margin-left: 13%;
		   } 
		   /*  */
		   .container1{
			   width:87%;
			   margin-left: 12%;
		   }
		   .our-item{
			   width: 86%;
			   margin-left: 0%;	
		   }
		   .opt-more-item{
			   margin-left: 5%;
		   }
		   .space{
			   margin-left: 2%;
			   }
			   .hr1 {
				width: 300px;
				margin-left: 14.5%;
			   }
		   /* ------- */
			   .footer h1{
				   margin-left:30% ;
			   }
			   .personal-photo{
				   margin-left:37% ;
			   }
			   .it-idea{
				   margin-left: 12%;
				   width: 80%;
				   font-size: 16px;
			   }
			   .five-star{
				   margin-left: 34%;
			   }
			   /* ------------ */
			   .text-homeimage{
				   font-size: 40px;
			   }
			   .latestitem {
				margin-left: 29%;
				font-size: 26px;
				transform: translateY(-20px);
			} 
		   }
		   @media (max-width:440px){
			.container{
			   display: block;
			   width: 100%;
		   }
		   .item{
		   width:max-content;
		   margin-left: -6%;
		   border-bottom: 1px solid #222222;
		   padding-bottom: 40px;
		   }
		   .logo{
			   margin-left: 44%;
		   }
		   .item p{
		   margin-left: 11%;
		   width: 320px;

		   font-size: 16px;
		   margin-top: 8%;
		   } 
		   /*  */
		   .footer-sort h2{
			   margin-left: 15%;  
		   }
		   .footer-sort h4{  
			   margin-left: 21%;
		   }
		   
		   .footer-sort h5{  
			   margin-left: 22%;
		   }
		   
		   .social-contact{
			   margin-left: -2%;
		   } 
		   /*  */
		   .container1{
			   width:96%;
			   margin-left: 4%;
		   }
		   .our-item{
			   width: 94%;
			   margin-left: 0%;	
		   }
		   .opt-more-item{
			   margin-left: 5%;
		   }
		   .space{
			   margin-left: -6%;
			   }
			   .hr1 {
				width: 280px;
				margin-left: 14.5%;
			   }
		   /* ------- */
			   .footer h1{
				   margin-left:30% ;
			   }
			   .personal-photo{
				   margin-left:37% ;
			   }
			   .it-idea{
				   margin-left: 12%;
				   width: 80%;
				   font-size: 16px;
			   }
			   .five-star{
				   margin-left: 34%;
			   }
			   /* ------------ */
			   .text-homeimage{
				   font-size: 34px;
			   }
			   .latestitem {
				margin-left: 29%;
				font-size: 26px;
				transform: translateY(-20px);
			} 
		   }
		   /* adding class activate */
		   .text-homeimage{
			   opacity: 0;
			   transform: translateY(50px);
			   transition: all 1s ease;
		   }
		   .text-homeimage.activate{
			opacity: 1;
			transform: translateY(0px);
		   }